body header picture{

    position: relative;
    top: -10px;
    width: 100%;
    margin-left: -8px;
    
}

body header picture img{

    max-width: 102.1%;
    height: auto;
    
}

footer{

    position: relative;
    bottom: -80px;
    background-color: green;
    color: white;
    width: 102.1%;
    margin-bottom: -10px;
    margin-left: -8px;
    text-align: center;

}

footer a{
    color: white;
    margin-left: 15px;
}

.boxdesign{
    border: 2px solid rgb(7, 105, 252);
    width: 200px;
}

.boxdesignregister{

    border: 2px solid rgb(7, 105, 252);
    width: 200px;
}

body header nav{

    position: relative;
    right: 0px;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: end;
    
}

body header nav p{

    display: inline-block;
    
}

body header nav a{

    border: 2px solid black;
    border-radius: 5px;
    font-size: xx-large;
    text-decoration: none;
    font-weight: 600;
    color: black;

}

.save{
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-size: large;
}

#welcome{
    font-size: large;
}