
.gridwrapper{
    justify-self: center;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2,minmax(150px,600px));
    grid-template-rows: repeat(3,minmax(50px,100px));
}

.vornamegrid{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;
    align-self: center;
}

.nachnamegrid{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
    align-self: center;
}

.emailgrid{

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: end;
    align-self: center;

}
#pwgrid{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
}

#pwzweigrid{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
}

#title{
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    text-decoration-line: underline;
}

/*Button centered bekommen*/
#rbutton{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    background-color: rgb(7, 105, 252);
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: xx-large;
    color: white;
    margin-left: 10px;
    align-self: center;
}

body form{
    margin-left: 40%;
}